@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro|Staatliches&display=swap');

/********COLORS********/
$background-color: #eff0f3;
$black: #0d0d0d;
$secondary-black: #2a2a2a;

$button-color: #ff8e3c;
$active-link: #d9376e;
$white: #fffffe;

/********FONTS********/
$main-font: 'Staatliches';
$secondary-font: 'Source Sans Pro';
